@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-instrument: var(--font-instrument);
}

:root {
  --background: #fff8fd;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
}

.hero-title {
  letter-spacing: -0.04em;
  line-height: 0.95;
}
